<div class="log-form">
  <h2>Sign up or login to your account</h2>
  <form id="login-form">
    <input id="username" required type="text" title="username" placeholder="Username" />
    <input id="password" required type="password" title="username" placeholder="Password" />
    <button id="login" type="submit"class="btn">Login</button>
    <button id="signup" type="submit" class="btn">Sign Up</button>
  </form>
</div>

<script src='/js/login.js'></script>